# Virtual Environments
venv/
venv311/
.venv/

# Python cache
__pycache__/
*.py[cod]

voice_gallery/

# Audio Files (Temporary/Testing)
temp_audio/
*.wav
*.mp3

# Environment/Secrets
.env


# Docker
.dockerignore
models/